@font-face {
  font-family: 'Antic';
  font-style: normal;
  font-weight: 400;
  src: local('Antic'), local('Antic-Regular'), url('/css/antic.woff') format('woff');
}

body {
  font: 18px/1.5em 'Antic', Cambria, Georgia, serif;
  margin: 2em 2.3em;
  color: #333;
  background-color: #FAFAFA;
  width: 960px;
  margin: auto;
}
header {
  position: relative;
  display: block;
  background: black url(/img/typography.png) center no-repeat scroll;
  height: 120px;
  cursor: pointer;
}
header a.home-link {
    position:absolute;
    display:block;
    width:100%;
    height:100%;
    opacity: 0;
}
header menu {
  position: absolute;
  bottom: -1em;
  right: 20px;
  font-size: 0.9em;
  line-height: 1.1em;
}
header menu li {
  display: inline-block;
  padding: 2px 5px;
  background: #AAE;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#DDD));
  background: -moz-linear-gradient(top, #FFF, #DDD);
  text-align: center;
  width: 130px;
}
header menu li#filter-reset { display: none; }
header menu li#filter-reset a { color: red; }
header menu li:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#AAD));
  background: -moz-linear-gradient(top, #FFF, #AAD);
}
header menu li:hover .effect_dummy {
  margin-top: 0px;
  color: inherit;
}
header menu li .effect_dummy {
  margin-top: -16px;
  color: transparent;
  transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}

#filter { display: none; }
menu#tags { display: block; }
#filter, menu#tags {
  max-width: 960px;
  text-align: right;
  margin-top: .5em;
  padding-left: 0;
}
#filter, menu#tags:before {
  color: #AAA;
  font-weight: bold;
  font-size: 2em;
  vertical-align: middle;
}
#filter:before { content: 'filtered for "'; }
#filter.tag:before { content: 'filtered for tag "'; }
#filter:after { content: '" '; }
menu#tags:before { content: "tags: "; }
menu#tags.filtered:before { content: "remaining tags: "; }
menu#tags li {
  word-spacing: -0.25em;
  display: inline-block;
  margin: 0 0.2em;
}

h1 { display: block; font-size: 1.5em; border-bottom: 1px solid #AAA; }
h2 {
  display: block;
  font-size: 1.2em;
  margin-top: 2em;
  margin-bottom: 0;
}
h3 { font-size: 1.1em; font-weight: bold; }
a { color: #33C; text-decoration: none; }
a:visited { color: #337; }
a:hover { color: #33F; }

article {
  border-bottom: 1px solid #AAA;
}

article .title .date {
  display: inline-block;
  width: 7em;
  margin-right: .5em;
  color: #AAA;
  text-align: right;
}
article .title h2 { display: inline-block; }

article .content { display: none; }
article .content > p { width: 540px; padding-bottom: 0.2em; }
article .content > blockquote { width: 460px; }
article .content:first-letter {
  float: left;
  font-size: 3em;
  line-height: 0.76em;
  padding: 0.12em 0.12em 0 0
}
article.open {
  position: relative;
  overflow: hidden;
  border-bottom: none;
  padding: 1em 3em;
  margin-top: 1em;
  background: #FAFAFA url(/img/ricepaper.jpg) top left repeat scroll;
  border-radius: 5px;
  border: 5px dotted rgba(0,0,0,.05);
}
article.open .title h2 { font-size: 2em; text-align: center; margin-bottom: 1em; }
article.open .title .date { display: none; }
article .info_block {
  display: inline-block;
  float: right;
  width: 280px;
  margin-left: 20px;
  color: #AAA;
  font-weight: bold;
  font-size: 1.8em;
}
article .info_block .pretty_date:before { content: "created"; margin-right: 0.333em; }
article .info_block .author:before { content: "by"; margin-right: 0.333em; }
article .info_block .tags:before { content: "in"; margin-right: 0.333em; }
article .info_block .tags { margin:0; padding:0; }
article .info_block .tags li { display: inline-block; padding: 0 0.2em 0 0; }
article .info_block .tags li:after { content: "," }
article .info_block .tags li:last-child:after { content: "" }

table { background: #EEE; padding: 0.5em; }
td { border: 1px dotted #AAA; padding: 0 1em; }
.small { font-size: 0.75em; }

blockquote {
  background: transparent url(/img/quote.png) left top no-repeat scroll;
  margin: 0;
  margin-top: -1em;
  padding: 1em 0 0 80px;
}
blockquote p { margin:0;padding:0; }

#spinner{
  display:none;
  width:130px;
  float:right;
}

.spinner{
  background-color:#FFFFFF;
  float:left;
  height:28px;
  margin-left:15px;
  width:28px;
  -moz-animation-name:bounce_spinner;
  -moz-animation-duration:3.15s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-direction:linear;
  -moz-border-radius:19px;
  -webkit-animation-name:bounce_spinner;
  -webkit-animation-duration:3.15s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:linear;
  -webkit-border-radius:19px;
  -ms-animation-name:bounce_spinner;
  -ms-animation-duration:3.15s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-direction:linear;
  -ms-border-radius:19px;
  -o-animation-name:bounce_spinner;
  -o-animation-duration:3.15s;
  -o-animation-iteration-count:infinite;
  -o-animation-direction:linear;
  -o-border-radius:19px;
  animation-name:bounce_spinner;
  animation-duration:3.15s;
  animation-iteration-count:infinite;
  animation-direction:linear;
  border-radius:19px;
}

#spinner_1{
  -moz-animation-delay:0.63s;
  -webkit-animation-delay:0.63s;
  -ms-animation-delay:0.63s;
  -o-animation-delay:0.63s;
  animation-delay:0.63s;
}

#spinner_2{
  -moz-animation-delay:1.47s;
  -webkit-animation-delay:1.47s;
  -ms-animation-delay:1.47s;
  -o-animation-delay:1.47s;
  animation-delay:1.47s;
}

#spinner_3{
  -moz-animation-delay:1.89s;
  -webkit-animation-delay:1.89s;
  -ms-animation-delay:1.89s;
  -o-animation-delay:1.89s;
  animation-delay:1.89s;
}

@-moz-keyframes bounce_spinner{
  0%{}
  50%{background-color:#000000}
  100%{}
}

@-webkit-keyframes bounce_spinner{
  0%{}
  50%{background-color:#000000}
  100%{}
}

@-ms-keyframes bounce_spinner{
  0%{}
  50%{background-color:#000000}
  100%{}
}

@-o-keyframes bounce_spinner{
  0%{}
  50%{background-color:#000000}
  100%{}
}

@keyframes bounce_spinner{
  0%{}
  50%{background-color:#000000}
  100%{}
}
