@font-face {
  font-family: 'Antic';
  font-style: normal;
  font-weight: 400;
  src: local('Antic'), local('Antic-Regular'), url('/css/antic.woff') format('woff');
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: none;
  font: 18px/1.5em 'Antic', Cambria, Georgia, serif;
  margin: 2em 2.3em;
  color: #333;
  background-color: #FAFAFA;
  width: 960px;
  margin: auto
}
header {
  position: relative;
  display: block;
  /* old one
  padding: 25px 20px;
  background: #DFDFDF;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#DDD));
  background: -moz-linear-gradient(top, #FFF, #DDD);
  */
  background: black url(/img/typography.png) center no-repeat scroll;
  background:
    url(/img/typography.png) center no-repeat scroll,
    -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
  background:
    url(/img/typography.png) center no-repeat scroll,
    -moz-linear-gradient(top, #444, #000);
  height: 120px;
  cursor: pointer;
}
header menu {
  position: absolute;
  bottom: -14px;
  right: 20px;
  font-size: 0.9em;
  line-height: 1.1em;
}
header menu li {
  display: inline-block;
  padding: 2px 5px;
  background: #AAE;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#DDD));
  background: -moz-linear-gradient(top, #FFF, #DDD);
  text-align: center;
}
header menu li:hover {
  color: black;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#AAD));
  background: -moz-linear-gradient(top, #FFF, #AAD);
}
header menu li:hover .effect_dummy {
  margin-top: 0px;
  color: inherit;
}

menu#tags {
  display: block;
  max-width: 960px;
  text-align: right;
  word-spacing: -0.25em;
  padding-left: 0;
}
menu#tags:before {
  content: "tags:";
  color: #AAA;
  font-weight: bold;
  font-size: 2em;
  vertical-align: middle;
}
menu#tags li {
  display: inline-block;
  margin: 0 0.2em;
}

h1 { display: block; font-size: 1.5em; border-bottom: 1px solid #AAA; }
h2 {
  display: block;
  font-size: 1.2em;
  margin-top: 2em;
  margin-bottom: 0;
}
h3 { font-size: 1.1em; font-weight: bold; }
a { color: #33C; text-decoration: none; }
a:visited { color: #337; }
a:hover { color: #33F; }

article { border-bottom: 1px solid #AAA; }
article > div > p { width: 540px; padding-bottom: 0.2em; }
article > div:first-letter {
  float: left;
  font-size: 3em;
  line-height: 0.76em;
  padding: 0.12em 0.12em 0 0
}
article.open {
  position: relative;
  overflow: hidden;
  border-bottom: none;
  padding: 1em 3em;
  margin-top: 1em;
  background: #EEF;
}
article.open:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 32px 32px 0;
  border-style: solid;
  border-color:#CCF #FAFAFA;
  /* css3 extras */
  -webkit-box-shadow:   0 1px 1px rgba(0,0,0,0.3),
                        -1px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow:      0 1px 1px rgba(0,0,0,0.3),
                        -1px 1px 1px rgba(0,0,0,0.2);
  box-shadow:           0 1px 1px rgba(0,0,0,0.3),
                        -1px 1px 1px rgba(0,0,0,0.2);
}
article.open h2 { font-size: 2em; text-align: center; margin-bottom: 1em; }
article.open .date { display: none; }
article .info_block {
  display: inline-block;
  float: right;
  width: 320px;
  color: #AAA;
  font-weight: bold;
  font-size: 1.8em;
}
article .info_block .pretty_date:before { content: "created"; margin-right: 0.333em; }
article .info_block .author:before { content: "by"; margin-right: 0.333em; }
article .info_block .tags:before { content: "in"; margin-right: 0.333em; }
article .info_block .tags { margin:0; padding:0; }
article .info_block .tags li { display: inline-block; padding: 0 0.5em 0 0; }

.effect_dummy {
  margin-top: -16px;
  color: transparent;
  transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}

#development_info { margin-top: 3em; }

table { background: #EEE; padding: 0.5em; }
td { border: 1px dotted #AAA; padding: 0 1em; }
.small { font-size: 0.75em; }

blockquote {
  background: transparent url(/img/quote.png) left top no-repeat scroll;
  margin: 0;
  margin-top: -1em;
  padding: 1em 0 0.5em 80px;
}
